
.displayBar {
    padding: 1.5rem;
    padding-top:0;


}



.CardRow{
    display:flex;
    
    
}

.cardsContainers{
    /* width:100% !important; */
    overflow: auto;
    /* padding: 2rem;  */
    /* gap:1rem; */   
}

.CardRow{
    width:150% !important;
}

@media (max-width: 990px) {


    .displayBar h2 {
        top: 0;
        left: 0;
        margin: 0;
        z-index: 1; 
    }

    .cardsContainers{
        padding: 0 !important;
     }

    .CardRow{
        width:450% !important;
    }
}


@media (max-width: 990px) and (orientation: landscape),
       (max-height: 600px) and (max-width: 990px) {
        .CardRow{
            width:200% !important;
        }
}
