html {
  font-size: 62.5%; /* 1rem to 10px */
}

body {
  /* min-height:99vh;
  max-height:99vh; */
 
  background-color: #21201e;
  /* background-image: url("https://image.tmdb.org/t/p/w1280/gCblYqt8ctD6aAFnZqLJWKWnjvM.jpg"); */
  /* background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; */

 
}

#root {
  position:relative;
};




@font-face {
  font-family: 'Netflix Sans';
  font-weight: 100;
  font-display: optional;
  src: url(https://gist.github.com/hirajanwin/cf5409b65ee72560a34fbd3b9dc259f7) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff');
}



@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
  font-style: normal;
  font-weight: 800;
  color: #fff;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  margin:0 !important;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  text-wrap: balance;
}

@media (max-width: 990px) {
 h2 {
  font-size: 1.8rem;
 }
}
